/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background: url('/images/layout/bg.jpg') top left repeat; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-family: Georgia, serif; font-size: 13px; line-height: 20px; color: #454545; }

::-moz-selection { background: #93b12d; color: #fff; text-shadow: none; }
::selection { background: #93b12d; color: #fff; text-shadow: none; }

a { font-family: "proxima-nova",sans-serif; font-size: 13px; font-weight: 400; color: #718D12; text-decoration: none; }
a:visited { color: #718D12; text-decoration: none; }
a:hover { color: #596B1D; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
/*pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }*/
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

h1, h2, h3, h4, h5 { font-family: "proxima-nova", sans-serif; color: #454545; }

h1 {
	font-style: normal;
	font-weight: 700;
}


/* ===== Primary Styles ========================================================
   Author: Ben Jordan
   ========================================================================== */

.shadow {
	-moz-box-shadow: 0px 3px 5px #ccc;
	-webkit-box-shadow: 0px 3px 5px #ccc;
	box-shadow: 0px 3px 5px #ccc;
}

.width_setter {
	width: 980px;
	margin: 0 auto;
	position: relative;
}

header {
	width: 100%;
	height: 455px;
	color: #fff;
	background: url('/images/layout/org_header.jpg') top left repeat-x;
	display: block;
}

header .logo h1 {
	width: 180px;
	height: 100px;
	margin: 0;
	padding: 0;
	float: left;
}

	header .logo h1 a {
		width: 180px;
		height: 100px;
		background: url('/images/layout/broadleaf_logo_white.png') top left no-repeat;
		text-indent: -5555px;
		float: left;
		cursor: pointer;
	}
	
header#internal {
	height: 135px;
	background: url('/images/layout/internal_headerbg.jpg') left top repeat-x;
}

nav {
	width: 740px;
	margin-top: 20px;
	float: right;
}

	nav ul {
		width: 100%;
		padding: 0;
		margin: 0;
		list-style: none;
		float: right;
		display: block;
	}
	
	nav ul li {
		padding: 0;
		margin: 0;
		float: right;
		display: inline;
	}
	
	nav ul li a:link, nav ul li a:visited {
		font: 400 normal 16px/21px "proxima-nova", sans-serif;
		color: #fff;
		text-decoration: none;
		background: none;
		margin: 0;
		padding: 15px;
		border-bottom: 1px solid #2F2F2F;
		float: left;
		-webkit-transition: background 0.8s ease;
		-moz-transition: background 0.8s ease;
		-o-transition: background 0.8s ease;
		transition: background 0.8s ease;
	}
	
	nav ul li a:hover {
		background: url(/images/layout/darker.png) left top repeat;
	}
	
#dev_site {
	width: 100%;
	text-align: right;
	margin: 5px 0 1px 0;
	float: right;
	display: block;
}

	#dev_site a:link, #dev_site a:visited {
		font-family: "proxima-nova",sans-serif;
		font-size: 14px;
		font-style: italic;
		font-weight: 600;
		color: #93b12d;
		text-decoration: none;
	}

#try_demo_holder {
	width: 590px;
	height: 350px;
	position: absolute;
	top: 100px;
}

#header_features {
	width: 430px;
	height: auto;
	color: #aaa;
	font-size: 12px;
	position: absolute;
	top: 130px;
	right: 0px;
}

	#header_features p {
		font-family: Georgia, serif;
		font-size: 12px;
		padding: 0;
		margin: 0 0 10px 0;
	}

	#header_features h2 {
		font-family: "proxima-nova",sans-serif;
		margin: 0;
		padding: 0;
		font-size: 23px;
		font-style: italic;
		font-weight: 600;
		color: #fff;
		display: block;
	}
	
	#header_features ul {
		width: 100%;
		list-style: none;
		padding: 0;
		margin: 0;
		display: block;
	}
	
	#header_features ul li {
		width: 395px;
		padding: 0 0 10px 35px;
		margin: 10px 0;
		border-bottom: 1px dotted #2F2F2F;
		display: block;
		float: left;
	}
	
	#header_features ul li.folders { background: url('/images/layout/icon-folders-white.png') left top no-repeat; }
	#header_features ul li.calc { background: url('/images/layout/icon-calc-white.png') left top no-repeat; }
	#header_features ul li.star { background: url('/images/layout/icon-star-white.png') left top no-repeat; }
	
	#header_features ul li h3 {
		font-size: 17px;
		font-style: normal;
		font-weight: 400;
		color: #fff;
		margin: 0;
		padding: 0;
	}
	
#get_started {
	width: 1010px;
	margin-left: -15px;
	float: left;
	display: inline;
}
	
#featured_stories {
	width: 780px;
	height: 80px;
	padding-left: 160px;
	background: url('/images/layout/featured_stories.jpg') left top no-repeat;
	margin: 20px 0 40px 0;
	float: left;
	display: block;
}

	#featured_stories ul {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		display: block;
	}
	
	#featured_stories ul li {
		width: 160px;
		height: 80px;
		padding: 0 15px;
		text-align: center;
		float: left;
		display: inline;
	}
	
	#featured_stories ul li img {
		margin-bottom: 10px;
	}

#broadleaf_video {
	width: 100%;
	margin: 40px 0;
	float: left;
	display: block;
}

	#broadleaf_video #video_holder {
		width: 300px;
		margin: 0 35px;
		float: left;
		display: inline;
	}
		#broadleaf_video #video_holder img {
			border: 5px solid white;
			box-shadow: 0px 5px 7px #dadada;
		}

	#broadleaf_video #video_description {
		width: 575px;
		margin: 30px 0 0 0;
		float: left;
		display: inline;
	}
	
		#broadleaf_video #video_description h4 {
			font-size: 23px;
			font-weight: 400;
			font-style: italic;
			margin: 0 0 10px 0;
			padding: 0;
		}
		
#home_features {
	width: 100%;
	margin: 20px 0;
	padding-bottom: 40px;
	background: url('/images/layout/shadow_divider.jpg') left bottom no-repeat;
	float: left;
	display: block;
}

	#home_features h2 {
		width: 100%;
		font-family: "proxima-nova",sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 16px;
		background: url('/images/layout/dot.jpg') left bottom repeat-x;
		padding-bottom: 10px;
	}

	#home_features ul {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		float: left;
		display: inline;
	}
	
	#home_features ul li {
		width: 300px;
		font-family: "proxima-nova",sans-serif;
		font-style: normal;
		font-size: 12px;
		font-weight: 400;
		background: url('/images/layout/darker.jpg') left top repeat;
		margin: 5px 10px;
		float: left;
		display: inline;
	}
	
	#home_features ul li a:link, #home_features ul li a:visited {
		width: 245px;
		color: #454545;
		text-decoration: none;
		background: url('/images/layout/icon-paper_clip.png') 8px 8px no-repeat;
		padding: 10px 10px 10px 35px;
		float: left;
	}
	
/* =============================================================================
   Internal Page Styles
   ========================================================================== */
   
#top_section {
	width: 920px;
	margin: 40px 0 0 0;
	padding: 20px;
	background-color: #fff;
	float: left;
	display: block;
}

#full_column {
	width: 100%;
	margin: 40px 0;
	float: left;
	display: inline;
}

.data_table {
	width: 100%;
	border: none;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-size: 13px;
	font-weight: 400;
	border-collapse: separate;
	border-spacing: 3px;
}

	.data_table thead tr th {
		background-color: #CECAC8;
		color: #f2edeb;
		font-family: "proxima-nova",sans-serif;
		font-style: normal;
		font-size: 9px;
		font-weight: 600;
		text-transform: uppercase;
		text-align: left;
		letter-spacing: 1px;
		padding: 5px 10px;
	}
	
	.data_table tbody tr {
		
	}
	
	.data_table tbody tr td {
		padding: 10px;
		margin: 3px;
	}
	
	.data_table tbody tr td.title {
		background: url('/images/layout/fadedgreenbg.jpg') left top repeat;
		font-size: 16px;
	}

#left_column {
	width: 620px;
	margin: 0 0 20px 20px;
	float: left;
	display: inline;
	font-family: sans-serif;
}

#left_column .post {
	width: 100%;
	margin-bottom: 30px;
	float: left;
	display: inline;
}

#left_column .technology {
	width: 100%;
	margin-bottom: 30px;
	float: left;
	display: inline;
}

	#left_column .technology img {
		width: 100px;
		height: auto;
		margin: 0 20px 100px 0;
		float: left;
		display: inline;
	}
	
	#left_column .technology .content {
		width: 500px;
		float: right;
		display: inline;
	}

	#left_column h2 {
		width: 100%;
		font-size: 24px;
		font-weight: 400;
		padding: 10px 0 10px 0;
        border-bottom: 1px solid #CCC;
	}
	
#right_column_container {
	width: 300px;
	margin: 10px 0 20px 20px;
	float: left;
	display: inline;
	background: url(/images/layout/darker.png) left top repeat;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 10px;
}

	#right_column h4 {
		font-size: 14px;
		font-weight: 700;
		font-style: italic;
		margin: 0;
		padding: 0;
		margin-bottom: 5px;
	}
	
	#right_column .title_bar {
		width: 270px;
		padding: 10px 15px;
		margin-bottom: 10px;
		font-family: "proxima-nova",sans-serif;
		font-style: normal;
		text-transform: uppercase;
		color: #454545;
		font-size: 12px;
		background: url(/images/layout/darker.png) left top repeat;
		float: left;
		display: block;
	}
	
.column50 {
	width: 470px;
	margin: 30px 10px;
	float: left;
	display: inline;
}

	
/* =============================================================================
   Global Footer Styles
   ========================================================================== */
	
	
#architecture {
	width: 100%;
	margin: 40px 0;
	padding-bottom: 20px;
	background: url('/images/layout/shadow_divider.jpg') left bottom no-repeat;
	text-align: center;
	float: left;
	display: block;
}

	#architecture h4 {
		width: auto;
		font-family: "proxima-nova",sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 16px;
		text-transform: uppercase;
		display: inline;
	}
	
	#architecture #description {
		margin-left: 10px;
		display: inline;
	}
	
	#architecture ul {
		width: 100%;
		margin: 10px 0;
		padding: 0;
		list-style: none;
		text-align: center;
		display: block;
	}
	
	#architecture ul li {
		width: 160px;
		height: 65px;
		padding: 0;
		text-align: center;
		display: inline;
	}
	
#tweet {
	width: 100%;
	height: 115px;
	margin: 10px 0 20px 0;
	background: url('/images/layout/footer_leaf_divider.jpg') left bottom no-repeat;
	float: left;
	display: block;
	position: relative;
}

	#tweet #tweet_holder {
		width: 560px;
		height: 71px;
		padding: 20px 30px;
		font-style: italic;
		font-size: 12px;
		color: #454545;
		margin: 0 auto;
		background: url('/images/layout/footer_tweet_holder.png') left top no-repeat;
	}
	
	#tweet #tweet_date_holder {
		width: 610px;
		text-align: right;
		font-family: "proxima-nova",sans-serif;
		font-style: normal;
		font-size: 11px;
		font-weight: 400;
		position: absolute;
		top: 75px;
		left: 170px;
	}
	
		#tweet #tweet_date_holder a:link, #tweet #tweet_date_holder a:visited {
			color: #93b12d;
			font-size: 14px;
			margin-right: 5px;
			text-decoration: none;
		}
		
footer {
	width: 100%;
	padding: 0 0 50px 0;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	color: #454545;
	font-size: 12px;
	float: left;
	display: block;
}

	#copyright {
		width: 100%;
		font-size: 10px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 3px;
		text-align: center;
		display: block;
	}
	
	footer #sitenav_title {
		width: 130px;
		margin: 20px auto 10px auto;
		margin-top: 40px;
		background-color: #CECAC8;
		color: #f2edeb;
		font-size: 9px;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1px;
		padding: 5px 10px;
	}
	
	footer ul {
		width: 800px;
		padding: 0;
		margin: 0 auto;
		list-style: none;
		text-align: center;
	}
	
		footer ul li {
			padding: 5px 10px;
			margin: 5px;
			display: inline;
		}
		
		footer ul li a:link, footer ul li a:visited {
			color: #454545;
			text-decoration: none;
		}
		
		footer ul li a:hover { color: #93b12d; }


/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* =============================================================================
   Additional Styles (added by Andre)
   ========================================================================== */

div#left_column img {
    max-width: 620px;
    margin: 10px 0;
    border: 2px solid #494949;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

div#left_column img.no_border {
    border: 0px;
    border-radius:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.half-column {
    width: 50%;
    float: left;
}

h3 span.small {
    font-weight: normal;
    font-size: 12px;
    display: block;
}

blockquote { 
    margin: 10px 0 10px 0;
    padding-left: 20px;
    border-left: 8px solid #D8D8B0;
}

code, pre  { 
    background: #F8F8F8; 
    overflow-x: auto; 
    border: 1px solid #CCC;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    padding: 1px 4px;
    font-size: .9em;
}

blockquote p, .highlight pre {
    margin: 0;
}

td, th { 
    padding: 4px; 
}

table {
    border: 1px solid #CCC;
    width: 100%;
}

thead {
    border-bottom: 1px solid #CCC;
}

/* =============================================================================
   Third party styles
   ========================================================================== */

.treeView{
    -moz-user-select:none;
    position:relative;
    padding-left: 0;
    margin-bottom: 0;
}

.treeView ul{
    margin:0 0 0 -24px;
    padding:0 0 0 24px;
}

.treeView li:last-child > ul{
    background-image:none;
}

.treeView li.rootNode {
    list-style-type: none;
    list-style-image: none;
}

.treeView ul.firstNode {
    margin-left: -48px;
    margin-top: -24px;
}

.treeView li{
    margin:0;
    padding:0;
    list-style-position:inside;
    list-style-image:url('/images/layout/treeView/button.png');
    cursor:auto;
    padding-top: 4px;
    white-space: nowrap;
}

.treeView li.collapsibleListOpen{
    list-style-image:url('/images/layout/treeView/button-open.png');
    cursor:pointer;
}

.treeView li.collapsibleListClosed{
    list-style-image:url('/images/layout/treeView/button-closed.png');
    cursor:pointer;
}

.treeView li li{
    padding-left:24px;
}

.treeView .active {
    padding: 2px;
    background-color: #718D12;
    border: 1px solid #D8D1CD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: white;
}
